html, body {
  height: 100%;
}


.navbar{
/*	background-color: #23415c;
	background: url(../img/dummy1.jpg) no-repeat center center fixed;*/
	/*background-color: rgb(4,3,1,0.7);*/

  background: rgba(0, 0, 0, 0.40);
	padding: 0.3% 20px 5px;
	font-size: 1.3em;
	
 }
 .navbar img{
 	padding-top: 5px;
 	width: 15%	
 }
.navbar-brand{
			min-height: 55px;
	padding: 0 15px ;
}
.navbar .navbar-nav{
	padding-top: 0px;
	padding-right: 5%;
}
.navbar .navbar-nav li a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 20px;
/*	margin-top: -30px;*/
color: #fff;
}
.navbar .navbar-nav li a:hover {
/*	color: #ff0000;*/
	color: #3EC1D5;
	/*background-color: #ff0000;
*/}

#home {
	/*background: url(../img/slider2.jpg) no-repeat center center fixed;*/
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover; 
}

.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}
.first-section{
	color: #fff;
}



/* 2.1. Stick menu
/*--------------------------------*/

.header-area.stick {
  background-color: rgba(0, 0, 0, 1);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}